.container {
    width: 180px;
    border-radius: 4px;
    background-color: var(--db-color-bg);
    padding-block: 8px;
    position: absolute;
    border: 1px solid var(--db-color-border-light);
    max-height: 250px;
}

.bottomLeft {
    top: calc(100% + 5px);
    left: 0;
}

.leftTop {
    top: 0;
    left: calc(100% + 5px);
}

.list {
    height: 28px;
    padding: 5px 10px;
    background-color: var(--db-color-bg);
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    color: var(--db-color-text);
}

.list:hover {
    background-color: var(--db-color-bg-hover);
}