.container {
    height: 38px;
    padding: 0 10px;
    background-color: var(--db-color-bg);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;
    border: 1px solid var(--db-color-border-light);
    outline: none;
    width: 100%;
    color: var(--db-color-text);
}

.active {
    border-left: 2px solid var(--db-color-border-brand-hover);
    background-color: var(--db-color-bg-selected);
    cursor: default;
}

.deleteBtn {
    display: none;
}

.container:hover .deleteBtn{
    display: block;
}