.container {
    height: 40px;
    border: 1px solid var(--db-color-border);
    margin-top: 8px;
    padding: 0 15px;
    border-radius: 4px;
    column-gap: 15px;
    max-width: 350px;
}

.container:focus-within {
    border: 1px solid var(--db-color-border-focus);
}

.text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.actionBtn {
    display: none;
    gap: 10px;
}

.container:hover .actionBtn {
    display: flex;
}

.input {
    border: none;
    outline: none;
    background-color: var(--db-color-bg);
    color: var(--db-color-text);
    font-size: 14px;
}

.bg {
    background-color: var(--db-color-bg-selected);
}