.container {
    width: 200px;
    border-right: 1px solid var(--db-color-border);
    background-color: var(--db-color-bg-secondary);
}

.default {
    padding: 10px 10px;
}

.header {
    padding: 0 15px 15px 20px;
}

.heading {
    position: relative;
}

.heading::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    height: 1px;
    width: 25px;
    background-color: var(--db-color-bg-inverse);
}

.department {
    padding: 14px 10px 10px 8px;
    color: var(--db-color-text-secondary);
}

.content {
    padding: 0 10px 10px;
}